
:root {
    --header: Staatliches; 
    --p: Montserrat;
}

/* nav bar flex styling */

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
   
}

nav ul li {
    display: inline;
    padding: 20px;
 
}

nav ul li:hover {
    transform: scale(1.1);
}


nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-family: var(--p);
}

/* header flex styling */

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 400px;
    background-image: url("2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    box-shadow: 0px 0px 5px black;
}

h1 {
    font-family: var(--header);
    font-weight: 100;
    font-size: 50px;
    letter-spacing: none;
    margin-left: 20px;
}

.specialc {
    font-size: 80px;
}

h3 {
    font-family: var(--p);
    align-content: center;
    margin-left: 20px;
    margin-top: -20px;
}

/* main content grid styling*/

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* same things as typing 1fr 1fr 1fr 1fr */
    grid-template-rows: repeat(4, 1fr); 
    
}

.sidebar {
    grid-column: 1/1;
    grid-row: 1/4;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li {
    padding-bottom: 40px;
}

.sidebar ul li:hover {
    text-shadow: 0 0 3px black;
}

.content1 {
    display: flex;
    grid-column: 2/5;
    grid-row: 1/1;
    align-items: center;
   
}

.content2 {
    grid-column: 2/5;
    grid-row: 2/2;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.project {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center; 
}

.project h4 {
    display: flex;
    size: 16px;
    background-color: rgba(0, 0, 0, 0.301);
    align-items: flex-end;
}


.p1 {
    background-image: url("code.jpg");
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;   
}

.p2 {
    background-image: url("password.jpg");
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;   
}

.p3 {
    background-image: url("quiz.jpg");
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;     
}

.content3 {
    grid-column: 2/5;
    grid-row: 3/3;
    display: flex;
    justify-content: left;
}

.content3 ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.content3 ul li {
    display: inline;
    padding: 20px;
 
}


.content4 {
    grid-column: 2/5;
    grid-row: 4/4;
    
}



/* CSS effects */

@keyframes pulse {
    0% {
        background-color: #4bcea2;
    }

    100% {
        background-color: #36558d;
    }
}