
:root {
    --header: Staatliches; 
    --p: Montserrat;
}

/* nav bar flex styling */

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
   
}

nav ul li {
    display: inline;
    padding: 20px;
 
}

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-family: var(--p);
}

/* header flex styling */

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 400px;
    background-image: url("2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    box-shadow: 0px 0px 5px black;
}

h1 {
    font-family: var(--header);
    font-weight: 100;
    font-size: 50px;
    letter-spacing: none;
    margin-left: 20px;
}

.specialc {
    font-size: 80px;
}

h3 {
    font-family: var(--p);
    align-content: center;
    margin-left: 20px;
    margin-top: -20px;
}

/* main content grid styling*/

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* same things as typing 1fr 1fr 1fr 1fr */
    grid-auto-rows: minmax(100px, auto); /* stretches box to fill content */
    grid-gap: 1em; /*gap for column and row */
    
}

.sidebar {
    grid-column: 1/1;
    grid-row: 1/4;
    align-items: start;
}

.sidebar ul{
    list-style: none;
}

.content1 {
    grid-column: 2/5;
    grid-row: 1/1;
   
}

.content2 {
    grid-column: 2/5;
    grid-row: 2/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:1em;
    grid-auto-rows: minmax(100px, auto);
}

.content3 {
    grid-column: 2/5;
    grid-row: 3/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:1em;
    grid-auto-rows: minmax(100px, auto);
    align-self: end;
}

.content4 {
    grid-column: 2/5;
    grid-row: 4/4;
    
}



/* CSS effects */

@keyframes pulse {
    0% {
        background-color: #4bcea2;
    }

    100% {
        background-color: #36558d;
    }
}